<html lang='pt-BR'>
<body>
<p>Olá {{name}},</p>
<br />
<p>Seja bem-vindo ao Eu Jogo App</p>
<p>
  Por favor, clique
  <b><a href='{{link}}' target='_blank'>aqui</a></b>
  para ativar sua conta, ou no link abaixo:
  {{link}}
</p>
<p><small>A duracão deste link é de 1 hora.</small></p>
<br />
<p>Bom jogo,</p>
<p>Equipe do Eu Jogo App</p>
</body>
</html>